<div class="container-fluid">

  <section>
    <article class="login-form">
      <div class="login-reg-header">
        <h1>Welcome to Chessly!</h1>
        <% if @user.errors.any? %>
          <% @user.errors.full_messages.each do |err| %>
            <div class="error-msg">
              <p><%= err %></p>
            </div>
          <% end %>
        <% end %>
      </div>


      <%= form_for @user, url: signin_path, class: "form" do |f| %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <%= f.submit "Log In", class: "btn btn-primary" %>

      <% end %>

      <div class="login-reg-footer">
        <p>Need an account? <%= link_to "Register", new_registration_path, class: "btn btn-primary" %></p>
      </div>

    </article>
  </section>


</div>