<div class="container-fluid">

  <div class="row">

    <div class="col-lg-2"></div>

    <div class="col-lg-8">
      <% @user.game_lists.each do |game_list| %>

        <div class="panel panel-default hid">
          <!-- Default panel contents -->
          <div class="panel-heading"><h3><%= game_list.title %></h3>
            <div class="filter">
            <input type="text" id="search-input" class="form-control" placeholder="Filter"/>
            </div>
          </div>
          <table class="table table-hover">

            <tr>
              <thead>
              <th></th>
              <th>#</th>
              <th></th>
              <th>White</th>
              <th>Black</th>
              <th>Result</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% if game_list.games.length > 0 %>
            <% game_list.games.each_with_index do |game, index| %>

              <tr>
                <td></td>
                <td><%= index+1 %></td>
                <!--<td><%= link_to "Play", user_game_path(@user, game) %> </td>-->
                <td><%= link_to user_game_path(@user, game) do %>
                    <%= content_tag(:span, "", class: "glyphicon glyphicon-play-circle") %>
                  <% end %>
                </td>
                <td><%= game[:white] %></td>
                <td><%= game[:black] %></td>
                <td><%= game[:result] %></td>
                <td>
                  <%= button_to user_game_path(@user, game), method: :delete, class: "btn" do %>
                    <%= content_tag(:span, "", class: "glyphicon glyphicon-remove") %>
                  <% end %>
                </td>
              </tr>
            <% end %>
              <%else%>

                <h3 style = "text-align: center">No games, try creating one!</h3>


              <%end%>
            </tbody>

          </table>

        </div>

      <% end %>

      <!--<div id="board" style="padding-left:20%;width: 500px"></div>-->
      <!--<p>Status: <span id="status"></span></p>-->

      <!--<p>FEN: <span id="fen"></span></p>-->

      <!--<p>PGN: <span id="pgn"></span></p>-->
    </div>

  </div>
  <div class="col-lg-2"></div>

</div>




<script>
//    buildChessboard();


  $(document).ready(function () {

    setTimeout(function (e) {

      $('.hid').show('clip', 500);

    }, 100);


    $('#search-input').on('keyup', function () {

      var data = $(this).val().split(" ");

      var $games = $('tbody').find('tr');

//      console.log($(this).val());


      if ($(this).val() == "") {
        $games.show();
        return;
      }

      //hide all rows
      $games.hide();

      $games.filter(function (i, v) {
        var $t = $(this);
        for (var d = 0; d < data.length; ++d) {
          if (data[d] == ""){
            break;
          }
          if ($t.is(":contains('" + data[d] + "')")) {
//            console.log($t);

            return true;
          }
        }
        return false;
      })
        //show the rows that match.
        .show();

    });


//    var playLinks = $('td').find('a');

//    playLinks.on('click', function(e){
//      e.preventDefault();
//
//      var href = $(this).attr('href');
//
//      $('.panel').hide('explode',500);
//      window.location("" + href+ "");
//
//    });


  });
</script>