<div class="container-fluid">
  <section>
    <article class="reg-form">
      <div class="login-reg-header">
        <h1>Welcome to Chessly!</h1>
        <% if @user.errors.any? %>
          <p class="error-msg">Your registration is incomplete!</p>
        <% end %>
      </div>


      <%= form_for @user, url: registrations_path, class: "form" do |f| %>

        <div class="form-group">
          <%= f.label :email %>
          <% if @user.errors[:email] %>
            <p class="error-msg"><%= @user.errors[:email].first %></p>
          <% end %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :username %>
          <% if @user.errors[:username] %>
            <p class="error-msg"><%= @user.errors[:username].first %></p>
          <% end %>
          <%= f.text_field :username, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <% if @user.errors[:password] %>
            <p class="error-msg"><%= @user.errors[:password].first %></p>
          <% end %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :uscf, "USCF (optional)" %>
          <%= f.number_field :uscf, class: "form-control" %>
        </div>

        <%= f.submit "Register", class: "btn btn-primary" %>

      <% end %>

      <div class="login-reg-footer">
        <p>Already have an account? <%= link_to "Sign In", signin_path, class: "btn btn-primary" %></p>
      </div>

    </article>
  </section>

</div>