<div class="container-fluid">
  <div class="hid">
    <div class="row">
      <!--<div class="col-lg-1"></div>-->
      <div class="col-lg-4">

        <%= form_for @game, url: user_game_note_path(@user, @game), class: "form" do |f| %>

          <div class="form-group">
            <%= f.label(:notes, "Notes") %>
            <%= f.text_area(:notes, size: "30x25", class: "form-control") %>
          </div>
          <%= f.button(id: "save-note-btn", class: "btn") do %> <p class="save-flash">Saved!</p>
            <%= content_tag(:span, "", class: "glyphicon glyphicon-floppy-disk") %>
          <% end %>
        <% end %>

      </div>


      <div class="col-lg-5">


        <div id="demo-container"></div>


      </div>
      <!--<div class="col-lg-1"></div>-->

      <div class="col-lg-3">

        <div>
          <p>[Event "<%= @game[:event] %>"]</p>

          <p>[Date "<%= @game[:date] %>"]</p>

          <p>[White "<%= @game[:white] %>"]</p>

          <p>[Black "<%= @game[:black] %>"]</p>

          <p>[Result "<%= @game[:result] %>"]</p>
        </div>

        <div id="demo-moves"></div>


      </div>

      <div class="row" style="margin:auto;">
        <div class="col-lg-4"></div>
        <div class="col-lg-5">
          <div>

            <%= label_tag(:fen, "FEN for Move #") %>
            <%= number_field_tag(:fen) %>

          </div>

          <div class="fen-result"></div>

        </div>
        <div class="col-lg-3"></div>
      </div>


    </div>
  </div>
</div>


<!--<script type="text/javascript" src="http://chesstempo.com/js/pgnyui.js"></script>-->
<!--<script type="text/javascript"-->
<!--src="http://chesstempo.com/js/pgnviewer.js">-->
<!--</script>-->
<!--<script type="text/javascript" src="/chess-tempo/pgnviewer.js"></script>-->
<!--<link type="text/css" rel="stylesheet" href="http://chesstempo.com/css/board-min.css"/>-->

<script>

  $(document).ready(function () {

    setTimeout(function () {

      $('.hid').show('clip', 500);

    }, 500);

    buildViewer('<%= @game[:pgn] %>');
//
    var resetBorder = setTimeout(function (e) {//fixing border on board
      var demoBorder = $("#demo-boardBorder");
      demoBorder.css('width', '539px');
      demoBorder.css('height', '544px');
    }, 0);
//
//    $('#demo-container').on('click','#demo-flipper', function(){
//      debugger;
//
//      resetBorder();
//
//    });


    var fens = $.getJSON("<%= user_game_fen_path(@user,@game) %>");


//    console.log(fens)

    var fen_input = $('#fen');


    fen_input.on('input', function (e) {
      var fenResult = $('.fen-result');

      fenResult.empty();


      var move_num = fen_input.val();

      fenResult.append(
          "<p>" + move_num + ".   " + fens.responseJSON[move_num][0] + "</p>" +
          "<p>" + move_num + "... " + fens.responseJSON[move_num][1] + "</p>"
      );


    });


    $('#save-note-btn').on('click', function (e) {
      e.preventDefault();
      var note = $('textarea').val();

      $.ajax(
        {
          url: "<%= user_game_note_path(@user,@game) %>",
          type: "put",
          data: {"notes": note}
        })
        .success(function () {
          $('textarea').val(note);
          $('.save-flash').css('display', 'inline').delay(2500).fadeOut(400);
        });


    });


  });
</script>
