<div class="container-fluid">

  <div class="row">
    <div class="col-lg-3">
    </div>

    <div class="col-lg-4">


      <div id="demo-container"></div>


    </div>
    <div class="col-lg-1"></div>

    <div class="col-lg-3">

      <div>
        <p>[Event "<%= @game[:event] %>"]</p>

        <p>[Date "<%= @game[:date] %>"]</p>

        <p>[White "<%= @game[:white] %>"]</p>

        <p>[Black "<%= @game[:black] %>"]</p>

        <p>[Result "<%= @game[:result] %>"]</p>
      </div>

      <div id="demo-moves"></div>
    </div>


  </div>
</div>


<!--<script type="text/javascript" src="http://chesstempo.com/js/pgnyui.js"></script>-->
<!--<script type="text/javascript"-->
<!--src="http://chesstempo.com/js/pgnviewer.js">-->
<!--</script>-->
<!--<script type="text/javascript" src="/chess-tempo/pgnviewer.js"></script>-->
<!--<link type="text/css" rel="stylesheet" href="http://chesstempo.com/css/board-min.css"/>-->

<script>

  $(document).ready(function () {

    new PgnViewer(
      { boardName: "demo",
        pgnString: '<%= @game[:pgn] %>',
        pieceSet: 'merida',
        pieceSize: 65,
        highlightFromTo: true,
//        showCoordinates: true,
        pauseBetweenMoves: 2000,
        moveAnimationLength: .3
//        movesFormat: "main_on_own_line"
//        autoScrollMoves: true,
        //showBracketsOnVariation: false,
//        hideBracketsOnTopLevelVariation: true,
//        canPasteFen: true,
//        previewMode: true,
//        soundEnabled: false
//        puzzle: true
//        showNPS: true
//        newlineForEachMainMove: false
      }
    );

  });
</script>
